body {
  text-align: center;
  background-color: lightblue;
  font-family: "Courier New", monospace;
  border-style: dashed;
  border-width: medium;
  border-color: navy;
}
p {
  color: blue;
}
p1 {
  color: purple;
  font-size: 22px;
}
h1 {
  color: purple;
  font-style: normal;
  font-weight: bolder;
}
a {
}
